version: "3.8"

services:
  backend:
    image: nginx
    container_name: backend
    networks:
      - app-network

  frontend:
    image: nginx
    container_name: frontend
    ports:
      - "8083:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge